@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2rem;
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin: 0.5em 0;
}

#carousel {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80vh;
  width: 80vw;
  margin: auto;
  overflow: hidden;
}

#move {
  display: flex;

  width: 90%;

  margin: auto;

  height: 100%;
}

#image {
  width: 90%;

  object-fit: cover;
  margin: 2em;
}
